# Node.js Standard .gitignore

# Node modules
node_modules/

# Build output
/dist/
/build/

# Local env files
.env

# Logs
logs/

# macOS files
.DS_Store

# Coverage folder
coverage/

# Lock files
package-lock.json
yarn.lock
